name: Hadolint

on:
  push:
    branches:
      - main
    paths:
      - "./Dockerfile"
  pull_request:
    paths:
      - "./Dockerfile"
  workflow_dispatch:

permissions: {}

jobs:
  hadolint:
    name: Hadolint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Run Hadolint
        uses: hadolint/hadolint-action@2332a7b74a6de0dda2e2221d575162eba76ba5e5 # v3.3.0
        with:
          dockerfile: ./Dockerfile
          failure-threshold: warning
          format: tty
